attrs==20.1.0
certifi==2020.6.20
cycler==0.10.0
h5py==2.10.0
importlib-metadata==1.7.0
jsonschema==3.2.0
kiwisolver==1.2.0
matplotlib==3.3.1
msprime==0.7.5.dev389+gb8f5fb60
newick==1.0.0
numpy==1.19.1
Pillow==7.2.0
pyparsing==2.4.7
pyrsistent==0.16.0
python-dateutil==2.8.1
rope==0.16.0
six==1.12.0
svgwrite==1.4
tqdm==4.48.2
tskit==0.3.0
zipp==3.1.0
